{% extends 'base1final_copy.html' %} 
{% block content %}
   <!-- Messages -->
    <!-- Flash Messages -->
<div id="alerts" class="container messages">
    <div class="row justify-content-around">
        <div id="messages">
            
            
            
        </div>
    </div>
</div>
<!-- End Flash Messages -->
    <!-- End Messages -->
 <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="material-icons  btt center-align">navigation</i></button> 
<div class="col s12 bottom ">
    <h4 class="page-title">Error</h4>
    <hr>
   
<img src="/static/images/500.jpg" alt="500 error" width="100%">
    
</div>



  
{% endblock %}