{% extends 'base1final1a.html' %} 
{% block content %}


<!-- Main Content -->   

<!--    
  <section class="slides top-club">
       <img class="browse_img responsive-img" src="https://media.edutopia.org/styles/responsive_2880px_16x9/s3/masters/2018-08/iStock-487922329_master.jpg" alt="browse page image" style="width:1280px;height:350px;" />
  </section>
  -->
  
  
  
  
   <!-- Messages -->
      <!-- Flash Messages -->
  <div id="alerts" class="container messages">
      <div class="row justify-content-around">
          <div id="messages">
              
              
              
          </div>
      </div>
  </div>
  <!-- End Flash Messages -->
      <!-- End Messages -->
   
          
      <h4 class="title">Listing Details: The Expanse - Leviathan Wakes</h4>
      <hr class="bottom">

  

      <div class="container crd-cont z-depth-2 top-club bottom">
        <div class="card-img bottom">
            <img src="https://m.media-amazon.com/images/I/51HgrMkErvL.jpg">
        </div>  
    
        <div class="content ">
        <hr class="bottom">
            <p> <span class="sml">Added By:</span> Cara</p>
            <p> <span class="sml">Read Time:</span> 15+ Hours</p>
            <p> <span class="sml">Added on:</span> 11 June 2020</p>
            <p> <span class="sml">Rating:</span> 5 Stars</p>
            <p class="last"> <span class="sml">Description: </span>Humanity has colonised the solar system - Mars, the Moon, the Asteroid Belt and beyond - but the stars are still out of our reach.  Jim Holden is an officer on an ice miner making runs from the rings of Saturn to the mining stations of the Belt. When he and his crew discover a derelict ship called the Scopuli, they suddenly find themselves in possession of a deadly secret. A secret that someone is willing to kill for, and on an unimaginable scale. War is coming to the system, unless Jim can find</p>
            <div class="">
             
            <div class="meet-btn btn-size">
            <a class="btn waves-effect waves-light standard-btn icon-right btn-spc btn-color spacer" href="/get_update_listing/5edc0d7520beca0b6461e638"><i class="material-icons right">send</i>Edit </a>
    
            <!-- Modal Trigger -->
           
            <a class="btn waves-effect waves-light standard-btn icon-right btn-spc btn-red modal-trigger spacer" href="#modal1">Delete &nbsp;<i class="fa fa-times-circle"></i></a>
    
             <a class="btn waves-effect waves-light standard-btn icon-right btn-spc home spacer" href="/browse"><i class="material-icons right">send</i>Back </a>
    
           
            </div>
          
        
        </div>
    
    </div>
    
    
    
    </div>
    <div id="modal1" class="modal s12" tabindex="0">
        <div class="modal-content">
        <h4>Confirm Deletion</h4>
        
            <hr><br>  
            <!-- Give your meeting a name-->
            <div class="row">
                <form class="col s12">
                    <div class="row">
                     <p> Please Confirm you wish to delete the selected listing: The Expanse - Leviathan Wakes</p>
                    <!-- Delete meeting-->
                        <div class="col s6">
                            <a class="btn waves-effect waves-light standard-btn icon-right btn-spc btn-red" href="/remove_listing/5edc0d7520beca0b6461e638">Delete Listing&nbsp;<i class="fa fa-times-circle"></i></a>
                        </div>
                    </div>
                </form>
            </div>
                
        </div>
        <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
   </div>
  
  
  
  
    
      <!-- End Main Content --> 

      {% endblock %}
  