{% extends 'base1final1a.html' %} 
{% block content %}


<!-- Main Content -->   

    
  <section class="slides top-club">
       <img class="browse_img responsive-img" src="https://media.edutopia.org/styles/responsive_2880px_16x9/s3/masters/2018-08/iStock-487922329_master.jpg" alt="browse page image" style="width:1280px;height:350px;" />
  </section>
  
  
  
  
  
   <!-- Messages -->
      <!-- Flash Messages -->
  <div id="alerts" class="container messages">
      <div class="row justify-content-around">
          <div id="messages">
              
              
              
          </div>
      </div>
  </div>
  <!-- End Flash Messages -->
      <!-- End Messages -->
  <div class="col s8 meetings">
      <h4 class="title">Book Club Meetings</h4>
      <hr>
      <p class="top">Welcome, to the Book Club Meetings Page. Here you can find upcoming Book Club meetings, that users have created. These meetings are a great place to share your thoughts and opinions (I can already hear you) about your favourite books and hopefully others will join you in celebreating your favourite authors! Or get together and tear down a poorly written piece... It happens.. </p>
      <p class="top">How this works; so you can either find an upcoming book club meetin gthat you would like to take part in, these are held over whichever video conferencing call software is flavour of the month at the times specified. Click the date and time and meeting type to reveal further information and join the meeting.</p>
      <p class="top bottom">You can also create and edit your own Book Club meeting. Simply, sign up or be an existing member and the options will be there for you to add a Book club meeting. We do advise that you give people enough time to either re-read the book you wish to talk about or to plan time into their busy calenders. Either way you are in control of your own book Club meeting. The meetings below are due to take place in the coming weeks days and months.</p>
  
  </div>  
          
  <div class=" meetings top">
      <h4 class="title"> Meetings</h4>
          <hr class="sml-bottom">
          <p class="sml-bottom">You need to be logged in to add a new Book club meeting</p>
          <form action="/login">
          <button class="btn waves-effect waves-light home" type="submit" >Login
          <i class="material-icons right">send</i>
          </button>
          </form>
          <div class="buttons">
            <p class="sml-bottom top">Click the button below to add your own meeting! </p>
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger sml-bottom login-btn" href="#modal1">Add a Meeting &nbsp;<i class="fa fa-upload" aria-hidden="true"></i></a>
        </div>
  <div class="container bg-top bottom">
  
      
  
      <ul class="collapsible">
      <li>
        <div class="collapsible-header col-head"><i class="material-icons">assignment</i>Catch 22 book discussion -  Jun 09, 2020 - 12:00 PM</div>
        <div class="collapsible-body  col-col"><span>Meeting Description: A good olde chat about the classic book
        </span>
        <p>Meeting Added By: Darren</p>
        <p>Meeting add on: 10 June 2020</p>
       
        
        </div>
      </li>
      
    </ul>
      
  
      <ul class="collapsible">
      <li>
        <div class="collapsible-header col-head"><i class="material-icons">assignment</i>The Expanse Book Meeting -  Jun 30, 2020 - 10:25 PM</div>
        <div class="collapsible-body  col-col"><span>Meeting Description: Reschuled due to rain
        </span>
        <p>Meeting Added By: Darren</p>
        <p>Meeting add on: 10 June 2020</p>
       
        
        </div>
      </li>
      
    </ul>
      
  
      <ul class="collapsible">
      <li>
        <div class="collapsible-header col-head"><i class="material-icons">assignment</i>The Lord of The Rings  -  Sep 18, 2020 - 05:36 PM</div>
        <div class="collapsible-body  col-col"><span>Meeting Description: chat about all things tolkien
        </span>
        <p>Meeting Added By: Darren</p>
        <p>Meeting add on: 10 June 2020</p>
       
        
        </div>
      </li>
      
    </ul>
      
  
      <ul class="collapsible">
      <li>
        <div class="collapsible-header col-head"><i class="material-icons">assignment</i>Murder She Wrote fan group -  Jul 25, 2020 - 10:18 PM</div>
        <div class="collapsible-body  col-col"><span>Meeting Description: General fan group chat about the series we all love
        </span>
        <p>Meeting Added By: Pysched</p>
        <p>Meeting add on: 11 June 2020</p>
       
        
        </div>
      </li>
      
    </ul>
      
  
      <ul class="collapsible">
      <li>
        <div class="collapsible-header col-head"><i class="material-icons">assignment</i>Doctor Who fan club -  Jul 25, 2020 - 03:20 PM</div>
        <div class="collapsible-body  col-col"><span>Meeting Description: Who is your favourite doctor!! Let the time war begin
        </span>
        <p>Meeting Added By: Pysched</p>
        <p>Meeting add on: 11 June 2020</p>
       
        
        </div>
      </li>
      
    </ul>
      
  
      <ul class="collapsible">
      <li>
        <div class="collapsible-header col-head"><i class="material-icons">assignment</i>Lee Child Fan CLub -  Jun 26, 2020 - 07:24 PM</div>
        <div class="collapsible-body  col-col"><span>Meeting Description: Die trying is the book we are reviewing this time
        </span>
        <p>Meeting Added By: Darren</p>
        <p>Meeting add on: 13 June 2020</p>
       
        
        </div>
      </li>
      
    </ul>
      
  
      <ul class="collapsible">
      <li>
        <div class="collapsible-header col-head"><i class="material-icons">assignment</i>John Sandford&#39;s  Lucas Davenport -  Jun 01, 2020 - 09:45 AM</div>
        <div class="collapsible-body  col-col"><span>Meeting Description: Talk about character evolution and context of technology advances through the series
        </span>
        <p>Meeting Added By: Malia</p>
        <p>Meeting add on: 14 June 2020</p>
       
        
        </div>
      </li>
      
    </ul>
      
     
  </div>
  
  
  
  
  
    
      <!-- End Main Content --> 

      {% endblock %}
  